.header-main {
  text-align: center;
}

.header-tables{
  font-weight: bold;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.filter-prod {
  background: rgb(240, 246, 229);
  border-radius: 20px;
}
.table-prod {
  padding: 8px;
  width: 100% ;
  border: 1px solid #fff; /*for older IE*/
  background: #ffa;
}

.table-nutr {
  padding: 8px;
  width: 100% ;
  border: 1px solid #fff; /*for older IE*/
  background: rgb(209, 230, 242);
}

.below-norm {
  background: rgb(244, 168, 241);
}

.above-norm {
  background: rgb(152, 239, 196);
}

.recommended-product{
  background: rgb(152, 239, 196);
}


