<p>ДИЕТОЛОГ</p>
<p></p>
<div>
  <label>Фильтр продуктов
    <input type="text" >
  </label>
</div>
<p></p>
<div>
  <ng-container >
    <table class="table-prod">
      <caption>Продукты</caption>
      <th>{{'Продукт'}}</th>
      <th>{{'id'}}</th>
      <tr *ngFor="let product of products">
        <!--<input value={{product.val}}>-->
        <td>{{product.name}}</td>
        <td>{{product.id}}</td>
      </tr>
    </table>
  </ng-container>
</div>
<p></p>
<div>
  <ng-container >
    <table class="table-nutr">
      <caption>Нутриенты</caption>
      <th>{{'Нутриент'}}</th>
      <th>{{'Единицы измерения'}}</th>
      <th>{{'Суточная норма'}}</th>
      <tr *ngFor="let nutrient of nutrients">
        <td>{{nutrient.name}}</td>
        <td>{{nutrient.units}}</td>
        <td>{{nutrient.dailyrate}}</td>
      </tr>
    </table>
  </ng-container>
</div>

