<p>ДИЕТОЛОГ</p>
<p></p>
<div>
  <label>Фильтр продуктов
    <input type="text" >
  </label>
</div>
<p></p>
<div>
  <p>Продукты:</p>
  <ng-container >
    <table>
      <!--<th>{{products.colNames.val}}</th>
      <th>{{products.colNames.name}}</th>
      <th>{{products.colNames.id}}</th>
      <tr *ngFor="let product of products.list">
        <input value={{product.val}}>
        <td>{{product.name}}</td>
        <td>{{product.id}}</td>
      </tr>
    -->
      <tr *ngFor="let product of products">
        <!--<input value={{product.val}}>-->
        <td>{{product.name}}</td>
        <!--<td>{{product.id}}</td>-->
      </tr>
    </table>
  </ng-container>
</div>
