<p>ДИЕТОЛОГ</p>
<p></p>
<div>
  <label>Фильтр продуктов
    <input [(ngModel)]="textFilter" type="text">
    <button (click)="findProducts()">Найти</button>
  </label>
</div>
<p></p>
<div>
  <ng-container >
    <table class="table-prod">
      <caption>Продукты</caption>
      <th>{{'Количество(гр.)'}}</th>
      <th>{{'Продукт'}}</th>
      <th>{{'id'}}</th>
      <tr *ngFor="let product of products">
        <input title="{{product.hint}}" value={{product.val}}>
        <td title="{{product.hint}}" >{{product.name}}</td>
        <td title="{{product.hint}}" >{{product.id}}</td>
      </tr>
    </table>
  </ng-container>
</div>
<p></p>
<div>
  <ng-container >
    <table class="table-nutr">
      <caption>Нутриенты</caption>
      <th>{{'Нутриент'}}</th>
      <th>{{'Единицы измерения'}}</th>
      <th>{{'Суточная норма'}}</th>
      <th>{{'Количество(гр.)'}}</th>
      <tr *ngFor="let nutrient of nutrients">
        <td title="{{nutrient.hint}}" >{{nutrient.name}}</td>
        <td title="{{nutrient.hint}}">{{nutrient.units}}</td>
        <td title="{{nutrient.hint}}">{{nutrient.dailyrate}}</td>
        <td title="{{nutrient.hint}}">{{nutrient.val}}</td>
      </tr>
    </table>
  </ng-container>
</div>

