
.filter-prod {
  padding: 8px;
  width: 80% ;
  height: 100px;
  border: 1px solid #fff; /*for older IE*/
  background: rgb(123, 180, 205);
}
.table-prod {
  padding: 8px;
  width: 80% ;
  height: 100px;
  border: 1px solid #fff; /*for older IE*/
  background: #ffa;
}

.table-nutr {
  padding: 8px;
  width: 80% ;
  height: 10px;
  border: 1px solid #fff; /*for older IE*/
  background: rgb(188, 190, 189);
}

.below-norm {
  background: rgb(244, 168, 241);
}

.above-norm {
  background: rgb(152, 239, 196);
}
