

.header-main {
  text-align: center;
}

.header-tables{
  font-weight: bold;
}

.column {
  float: left;
  width: 50%;
}

.heiht-table-nutr {
  height: 800px;
  overflow: auto;
  border-radius: 20px;
}

.heiht-table-prod {
  height: 620px;
  overflow: auto;
  border-radius: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.filter-prod {
  background: rgb(240, 246, 229);
  border-radius: 20px;
}

.header-table-prod{
  font-weight: bold;
  background: #ffa;
}

.table-prod {
  padding: 8px;
  width: 100% ;
  /*border: 1px solid #fff; */
  /*border-radius: 20px;*/
  background: #ffa;
}

.th-prod{
  position: sticky;
  top: 0px;
  background-color: #ffa;
  color:black;
}

.header-table-nutr{
  font-weight: bold;
  background: rgb(209, 230, 242);
}

.table-nutr {
  padding: 8px;
  width: 100% ;
  /*border: 1px solid #fff; */
  /*border-radius: 20px;*/
  background: rgb(209, 230, 242);
}

.th-nutrt{
  position: sticky;
  top: 0px;
  background-color:rgb(209, 230, 242);
  color:black;
}

.below-norm {
 /* background: rgb(244, 168, 241);  не плдсвечивать нутриенты с недостатком, подсвечиваит только с нормой или выше*/
}

.within-norm {
  background: rgb(152, 239, 196);
}

.above-norm {
  background: rgb(241, 200, 231);
}

.recommended-product{
  background: rgb(152, 239, 196);
}

.notrecommended-product{
  background: rgb(241, 200, 231);
}

.recommended-and-not-product{
  background: rgb(239, 191, 47);
}

.excluded-product{
  font-style: italic;
  color:rgb(237, 31, 96);
}

.xls-button{
  height: 44px;
  float: right;
  background: rgb(56, 202, 129);
  color: white;
  border-radius: 30px;
  margin: 4px;
  border:none;
}

.improve-button{
  height: 44px;
  float: right;
  background: rgb(240, 143, 152);
  color: white;
  border-radius: 30px;
  margin: 4px;
  border:none;
}

.nav-button{
  height: 20px;
  float: left;
  background: rgb(193, 183, 235);
  color: black;
  border-radius: 10px;
  margin: 4px;
  border:none;
}
.nav-button-disabled{
  height: 20px;
  float: left;
  background:#ffa;
  color: black;
  border-radius: 10px;
  margin: 4px;
}

.caption-smaLL-button{
  background: rgb(229, 227, 235);
  color: black;
  border-radius: 10px;
  margin: 4px;
  border:none;
}

.input-val{
  width: 100px;
}

.recalc-nutr-button{
  border-radius: 5px;
  background-color: rgb(166, 104, 224);
}

